{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf%}

{% block content%}
<div class="row comment-row">
            <div class="comment-card col-sm-4">
                <h3>Leave a Comment</h3>
                {{wtf.quick_form(form)}}
            </div>
            <div class="comments-card col-sm-6">
                <h3>Comments</h3>
                <!-- <p>There are no comments</p> -->
                {% if comments %}
{% for comment in comments%}
<p><strong>{{comment.name}}</strong>: {{comment.content}} </p>
{% endfor%}
{% else %}
<p>There are no comments</p>
{% endif %}
            </div>
        </div>
{% endblock%}
